/*table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
table.names tr:nth-child(even) {
  background-color: #eee;
}
table.names tr:nth-child(odd) {
  background-color:#fff;
}
table.names th {
  background-color: black;
  color: white
}*/

th {
	text-align: right;
}

th.checkbox {
	text-align: left;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}

.results {
  width: 500px;
  height: 150px;
}

.output {
  background: red;
}

.displayresult {
  background: yellow;
}